{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2020-11-20",
    "endpointPrefix": "lookoutvision",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Lookout for Vision",
    "serviceId": "LookoutVision",
    "signatureVersion": "v4",
    "signingName": "lookoutvision",
    "uid": "lookoutvision-2020-11-20"
  },
  "operations": {
    "CreateDataset": {
      "http": {
        "requestUri": "/2020-11-20/projects/{projectName}/datasets"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "DatasetType"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "DatasetType": {},
          "DatasetSource": {
            "type": "structure",
            "members": {
              "GroundTruthManifest": {
                "type": "structure",
                "members": {
                  "S3Object": {
                    "shape": "S6"
                  }
                }
              }
            }
          },
          "ClientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DatasetMetadata": {
            "shape": "Sc"
          }
        }
      }
    },
    "CreateModel": {
      "http": {
        "requestUri": "/2020-11-20/projects/{projectName}/models"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "OutputConfig"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "Description": {
            "shape": "Sh"
          },
          "ClientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "OutputConfig": {
            "shape": "Sp"
          },
          "KmsKeyId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ModelMetadata": {
            "shape": "Sv"
          }
        }
      }
    },
    "CreateProject": {
      "http": {
        "requestUri": "/2020-11-20/projects"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName"
        ],
        "members": {
          "ProjectName": {},
          "ClientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProjectMetadata": {
            "shape": "Sy"
          }
        }
      }
    },
    "DeleteDataset": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "DatasetType"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "DatasetType": {
            "location": "uri",
            "locationName": "datasetType"
          },
          "ClientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteModel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "ModelVersion"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "ModelVersion": {
            "location": "uri",
            "locationName": "modelVersion"
          },
          "ClientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ModelArn": {}
        }
      }
    },
    "DeleteProject": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-11-20/projects/{projectName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "ClientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProjectArn": {}
        }
      }
    },
    "DescribeDataset": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "DatasetType"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "DatasetType": {
            "location": "uri",
            "locationName": "datasetType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DatasetDescription": {
            "type": "structure",
            "members": {
              "ProjectName": {},
              "DatasetType": {},
              "CreationTimestamp": {
                "type": "timestamp"
              },
              "LastUpdatedTimestamp": {
                "type": "timestamp"
              },
              "Status": {},
              "StatusMessage": {},
              "ImageStats": {
                "shape": "S19"
              }
            }
          }
        }
      }
    },
    "DescribeModel": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "ModelVersion"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "ModelVersion": {
            "location": "uri",
            "locationName": "modelVersion"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ModelDescription": {
            "shape": "Sh"
          }
        }
      }
    },
    "DescribeProject": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects/{projectName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProjectDescription": {
            "type": "structure",
            "members": {
              "ProjectArn": {},
              "ProjectName": {},
              "CreationTimestamp": {
                "type": "timestamp"
              },
              "Datasets": {
                "type": "list",
                "member": {
                  "shape": "Sc"
                }
              }
            }
          }
        }
      }
    },
    "DescribeTrialDetection": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects/{projectName}/trials/{trialName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "TrialName"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "TrialName": {
            "location": "uri",
            "locationName": "trialName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialDetectionDescription": {
            "type": "structure",
            "members": {
              "TrialArn": {},
              "TrialName": {},
              "ModelVersion": {},
              "Status": {},
              "StatusMessage": {},
              "InputManifest": {
                "shape": "S6"
              },
              "OutputConfig": {
                "shape": "Sp"
              },
              "OutputManifest": {
                "shape": "Ss"
              },
              "CreationTimestamp": {
                "type": "timestamp"
              }
            }
          }
        }
      }
    },
    "DetectAnomalies": {
      "http": {
        "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/detect"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "ModelVersion",
          "Body",
          "ContentType"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "ModelVersion": {
            "location": "uri",
            "locationName": "modelVersion"
          },
          "Body": {
            "type": "blob",
            "requiresLength": true,
            "streaming": true
          },
          "ContentType": {
            "location": "header",
            "locationName": "content-type"
          }
        },
        "payload": "Body"
      },
      "output": {
        "type": "structure",
        "members": {
          "DetectAnomalyResult": {
            "type": "structure",
            "members": {
              "Source": {
                "type": "structure",
                "members": {
                  "Type": {}
                }
              },
              "IsAnomalous": {
                "type": "boolean"
              },
              "Confidence": {
                "type": "float"
              }
            }
          }
        }
      }
    },
    "ListDatasetEntries": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}/entries"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "DatasetType"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "DatasetType": {
            "location": "uri",
            "locationName": "datasetType"
          },
          "Labeled": {
            "location": "querystring",
            "locationName": "labeled",
            "type": "boolean"
          },
          "AnomalyClass": {
            "location": "querystring",
            "locationName": "anomalyClass"
          },
          "BeforeCreationDate": {
            "location": "querystring",
            "locationName": "createdBefore",
            "type": "timestamp"
          },
          "AfterCreationDate": {
            "location": "querystring",
            "locationName": "createdAfter",
            "type": "timestamp"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "SourceRefContains": {
            "location": "querystring",
            "locationName": "sourceRefContains"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DatasetEntries": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListModels": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects/{projectName}/models"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Models": {
            "type": "list",
            "member": {
              "shape": "Sv"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListProjects": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Projects": {
            "type": "list",
            "member": {
              "shape": "Sy"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTrialDetections": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects/{projectName}/trials"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "ModelVersion": {
            "location": "querystring",
            "locationName": "modelVersion"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialDetections": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TrialArn": {},
                "TrialName": {},
                "ModelVersion": {},
                "Status": {},
                "StatusMessage": {},
                "CreationTimestamp": {
                  "type": "timestamp"
                },
                "ImageStats": {
                  "shape": "S19"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "StartModel": {
      "http": {
        "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/start"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "ModelVersion",
          "MinInferenceUnits"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "ModelVersion": {
            "location": "uri",
            "locationName": "modelVersion"
          },
          "MinInferenceUnits": {
            "type": "integer"
          },
          "ClientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {}
        }
      }
    },
    "StartTrialDetection": {
      "http": {
        "requestUri": "/2020-11-20/projects/{projectName}/trials"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "ModelVersion",
          "TrialName",
          "InputManifest",
          "OutputConfig"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "ModelVersion": {},
          "TrialName": {},
          "InputManifest": {
            "shape": "S6"
          },
          "OutputConfig": {
            "shape": "Sp"
          },
          "ClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "ModelEncryptionKmsKeyId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialArn": {}
        }
      }
    },
    "StopModel": {
      "http": {
        "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/stop"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "ModelVersion"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "ModelVersion": {
            "location": "uri",
            "locationName": "modelVersion"
          },
          "ClientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {}
        }
      }
    },
    "UpdateDatasetEntries": {
      "http": {
        "method": "PATCH",
        "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}/entries"
      },
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "DatasetType",
          "Changes"
        ],
        "members": {
          "ProjectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "DatasetType": {
            "location": "uri",
            "locationName": "datasetType"
          },
          "Changes": {
            "type": "blob"
          },
          "ClientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {}
        }
      }
    }
  },
  "shapes": {
    "S6": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key"
      ],
      "members": {
        "Bucket": {},
        "Key": {},
        "VersionId": {}
      }
    },
    "Sc": {
      "type": "structure",
      "members": {
        "DatasetType": {},
        "CreationTimestamp": {
          "type": "timestamp"
        },
        "Status": {},
        "StatusMessage": {}
      }
    },
    "Sh": {
      "type": "structure",
      "members": {
        "ModelVersion": {},
        "ModelArn": {},
        "CreationTimestamp": {
          "type": "timestamp"
        },
        "Description": {},
        "Status": {},
        "StatusMessage": {},
        "Performance": {
          "shape": "Sn"
        },
        "OutputConfig": {
          "shape": "Sp"
        },
        "EvaluationManifest": {
          "shape": "Ss"
        },
        "EvaluationResult": {
          "shape": "Ss"
        },
        "EvaluationEndTimestamp": {
          "type": "timestamp"
        },
        "KmsKeyId": {}
      }
    },
    "Sn": {
      "type": "structure",
      "members": {
        "F1Score": {
          "type": "float"
        },
        "Recall": {
          "type": "float"
        },
        "Precision": {
          "type": "float"
        }
      }
    },
    "Sp": {
      "type": "structure",
      "required": [
        "S3Location"
      ],
      "members": {
        "S3Location": {
          "type": "structure",
          "required": [
            "Bucket"
          ],
          "members": {
            "Bucket": {},
            "Prefix": {}
          }
        }
      }
    },
    "Ss": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key"
      ],
      "members": {
        "Bucket": {},
        "Key": {}
      }
    },
    "Sv": {
      "type": "structure",
      "members": {
        "CreationTimestamp": {
          "type": "timestamp"
        },
        "ModelVersion": {},
        "ModelArn": {},
        "Description": {},
        "Status": {},
        "StatusMessage": {},
        "Performance": {
          "shape": "Sn"
        }
      }
    },
    "Sy": {
      "type": "structure",
      "members": {
        "ProjectArn": {},
        "ProjectName": {},
        "CreationTimestamp": {
          "type": "timestamp"
        }
      }
    },
    "S19": {
      "type": "structure",
      "members": {
        "Total": {
          "type": "integer"
        },
        "Labeled": {
          "type": "integer"
        },
        "Normal": {
          "type": "integer"
        },
        "Anomaly": {
          "type": "integer"
        }
      }
    }
  }
}